/**
 * UI component styles
 * Will be expanded as UI components are built
 */

/* Loading screen styles */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
